

/* styles\Home\Entretient\ServicePage.module.css */
.container {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.encadreService {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.encadreService img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 1rem;
}

.encadreService p {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}

.encadreService button {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.encadreService button:hover {
  background-color: darkred;
}

.encadreImage {
  width: 50%; /* C'est ici que tu définis la taille de l'image. J'ai mis 50%, mais tu peux ajuster cette valeur selon tes besoins. */
  max-width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

/* styles\Home\Entretient\ServicePage.module.css */

.carousel .slide {
background: none !important;
 /* Pour supprimer l'arrière-plan par défaut des diapositives du carrousel */
}

.carousel.carousel-slider .control-arrow {
/* Personnalisez ici le style des flèches de contrôle du carrousel si nécessaire */
}

.carousel .thumbs-wrapper {
/* Personnalisez ici le style du conteneur des miniatures si nécessaire */
}

.carousel .thumb {
/* Personnalisez ici le style des miniatures si nécessaire */
}

.encadreService {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 2rem;
}

.encadreService img {
width: 100%;
max-width: 600px;
height: auto;
margin-bottom: 1rem;
}

.encadreService p {
text-align: center;
font-size: 1.2rem;
color: #666;
margin-bottom: 1rem;
}

.encadreService button {
background-color: red;
color: white;
padding: 0.5rem 1rem;
border: none;
border-radius: 5px;
font-size: 1rem;
cursor: pointer;
}

.encadreService button:hover {
background-color: darkred;
}




















