/* styles/Componentes/CarouselEntretien.module.css */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.carousel-visible {
  display: block;
}

.carousel-hidden {
  display: none;
}


.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.carousel-arrow-left {
  left: -50px;
}

.carousel-arrow-right {
  right: -50px;
}

















