.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
}

.select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
}

.button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.button:hover {
    background-color: #0056b3;
}


















