


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;;
  background-color: #FFEEBB;
}

.col-10, .col-lg-5 {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.formContainer {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1rem;
}

.form-outline {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: .5rem;
}

#email_field, #password_field {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 400;
  padding: .375rem .75rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
}


.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

  